.cover__link{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    background-image: url(../../../images/cover-trains-2.jpg);
    background-position: center;
    min-height: 740px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}
.cover__link::before{
    content: '';
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: ease 0.4s;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.cover__link:hover::before{
    opacity: 0.8;
}
@media screen and (max-width: 1024px) {
    .cover__link{
        width: 100%;
        min-height: 640px;
        overflow: hidden;
    }
}
@media screen and (max-width: 768px) {
    .cover__link{
        min-height: 480px;
    }
}
@media screen and (max-width: 320px) {
    .cover__link{
        min-height: 200px;
    }
}