.cover__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    margin: 0 auto;
    max-width: 360px;
    /*font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);*/
}
@media screen and (max-width: 768px) {
    .cover__subtitle{
        font-size: calc( (100vw - 20rem)/(48 - 20) * (1.125 - 0.875) + 0.875rem);
    }
    
}
@media screen and (max-width: 588px) {
    .cover__subtitle{
        line-height: 114%;
        /*max-width: 260px;*/
        margin: auto;
    }
    
}
@media screen and (max-width: 320px) {
    .cover__subtitle{
        /*line-height: 114%;*/
        max-width: 260px;
        /*margin: auto;*/
    }
    
}