.header__link{
    margin: 0;
    margin-bottom: 7%;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.16;
}

.header__link:focus{
    border-bottom: 1px solid #fff;
}
@media screen and (max-width: 768px) {
    .header__link{
        font-size: calc((100vw - 20rem)/(48 - 20) * (1.5 - 1.125) + 1.125rem);
    }
}
@media screen and (max-width: 320px) {
    .header__link{
        line-height: 1.11;
    }
}