.footer__link{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 112%;
    list-style-type: none;
}
@media screen and (max-width: 588px) {
    .footer__link{
        line-height: 100%;
        font-size: 1.5rem;
}
}