.lead__title{
    margin: 0 auto;
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    padding-top: 58px;
    margin-bottom: 32px;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (96 - 40) + 40px);
}