.lead__subtitle{
    max-width: 640px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 6.4%;
    /*font-size: calc( (100vw - 320px)/(1280 - 320) * (30 - 16) + 16px);*/
}
@media screen and (max-width: 1024px) {
    .lead__subtitle{
        margin-bottom: 6%;
    }
}
@media screen and (max-width: 768px) {
    .lead__subtitle{
        font-size: calc( (100vw - 20rem)/(48 - 20) * (1.875 - 1) + 1rem);
        margin-bottom: 7.2%;
    }
}
@media screen and (max-width: 320px) {
    .lead__subtitle{
        line-height: 1.25;
        margin-bottom: 12.4%;
    }
}