.cover__background{
    background-image: url(../../../images/cover-trains-2.jpg);
    background-position: center;
    width: calc(100% - 96px);
    min-height: 740px;
    margin: auto;
    position: relative;
    background-repeat: no-repeat;
    grid-column: 1/4;
    grid-row: 1/4;
    background-size: contain;
}
.cover__background::before{
    content: '';
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: ease 0.4s;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.cover__background:hover::before{
    opacity: 0.8;
}
@media screen and (max-width: 1024px) {
    .cover__background{
        width: 100%;
        min-height: 640px;
        background-size: contain;
        overflow: hidden;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 768px) {
    .cover__background{
        width: 100%;
        min-height: 480px;
        background-size: contain;
        overflow: hidden;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 588px) {
    .cover__background{
        width: 100%;
        /*min-height: 200px;*/
        background-size: contain;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media screen and (max-width: 320px) {
    .cover__background{
        width: 100%;
        min-height: 200px;
        background-size: contain;
        overflow: hidden;
        background-repeat: no-repeat;
    }
}