.lead__caption{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 9.4%;
}
@media screen and (max-width: 1024px) {
    .lead__caption{
        padding-bottom: 9.7%;
    }
}
@media screen and (max-width: 768px) {
    .lead__caption{
        margin-left: 3.12%;
        padding-bottom: 11.6%;
    }
}
@media screen and (max-width: 320px) {
    .lead__caption{
        margin-left: 5%;
        padding-bottom: 20%;
    }
}