.cover__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    max-width: 560px;
    margin: 0;
    margin-bottom: 5.5%;
    /*font-size: calc( (100vw - 320px)/(1280 - 320) * (72 - 32) + 32px);*/
}
@media (max-width: 1024px) and (max-width: 1024px){
    .cover__title{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .cover__title{
        width: 100%;
        font-size: calc( (100vw - 20rem)/(48 - 20) * (4.5 - 2) + 2rem);
    }
}
@media screen and (max-width: 588px) {
    .cover__title{
        /*max-width: 253px;*/
        line-height: 110%;
        margin: auto;
        margin-bottom: 5.5%;
    }
}
@media screen and (max-width: 320px) {
    .cover__title{
        max-width: 253px;
        line-height: 110%;
        margin: auto;
        margin-bottom: 5.5%;
    }
}