.footer{
    width: calc(100% - 2 * 48px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 7.2%;
    padding-bottom: 1.9%;
}
@media screen and (max-width: 1024px) {
    .footer{
        padding-top: 8.9%;
        padding-bottom: 2.3%;
    }
}
@media screen and (max-width: 786px) {
    .footer{
        width: calc(100% - 2 * 24px);
        padding-top: 11.3%;
        padding-bottom: 3%;
    }
}
@media screen and (max-width: 588px) {
    .footer{
        flex-direction: column;
        margin-left: 5%;
        padding-top: 20%;
    }
}
@media screen and (max-width: 320px) {
    .footer{
        flex-direction: column;
        margin-left: 5%;
        padding-top: 20%;
    }
}