.place__url-heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 170%;
    letter-spacing: 0.2rem;
    margin: 0;
    margin-bottom: 6px;
}
@media screen and (max-width: 768px) {
    .place__url-heading{
        line-height: 100%;
        margin-bottom: 4%;
    }
}
@media screen and (max-width: 320px) {
    .place__url-heading{
        margin-bottom: 15px;
    }
}