.place__website{
    /*grid-area: website;*/
    align-self: flex-end;
}
@media screen and (max-width: 768px) {
    .place__website{
        min-height: 50px;
    }
}
@media screen and (max-width: 320px) {
    .place__website{
        grid-row: 2;
        width: calc(100% - 2 * 16px);
        margin: auto;
    }
}