.intro__title{
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    margin-bottom: 40px;
    /*font-size: calc( (100vw - 320px)/(1280 - 320) * (54 - 32) + 32px);*/
}
@media screen and (max-width: 768px) {
    .intro__title{
        font-size: calc( (100vw - 20rem)/(48 - 20) * (3.375 - 2) + 2rem);
    }
}
@media screen and (max-width: 320px) {
    .intro__title{
        line-height: 109%;
        max-width: 250px;
    }
}